<h1>All tasks</h1>
<button onclick="document.getElementById('new_card').style.display = 'block';">New Card</button>
<div>
  <% (@tasks.sort_by { |t| t.priority}).each do |task| %>
    <div class="card">
      <div class="card_title"><%= task.title %></div>
      <div class="card_status"><%= task.status %></div>
      <div class="card_priority"><%= task.priority %></div>
    </div>
  <% end %>
</div>
<div id="new_card">
	<%=  render :file => "tasks/new.html.erb"  %>
<div>
