<h1>All tasks</h1>
 
<div>
  <% @tasks.each do |task| %>
    <div class="card">
      <div class="card_title"><%= task.title %></div>
      <div class="card_status"><%= task.status %></div>
      <div class="card_priority"><%= task.priority %></div>
    </div>
  <% end %>
  <a href="tasks/new">New Card</a>
</div>