<h1>Listing tasks</h1>
 
<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Status</th>
    <th>Priority</th>
  </tr>
 
  <% @tasks.each do |task| %>
    <tr>
      <td><%= task.title %></td>
      <td><%= task.description %></td>
      <td><%= task.status %></td>
      <td><%= task.priority %></td>
    </tr>
  <% end %>
</table>